*{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.box{
    width: 300px;
    background: #ffffff;
    height: 330px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;    
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 4px #888888;
}

.box img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px; 
    margin-bottom: 60px;
}

.box .content{
    margin-top: 60px;
    text-align: center;
}

.input{
    width: 250px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 3px;
    padding-left: 5px;
}

select{
    width: 85px;
    height: 25px;
    border-radius: 3px;
}

span{
    font-size: 14px;
}

.box button{
    border-radius: 3px;
    color: #ffffff;
    background-color: #7159c1;
    cursor: pointer;
    transition: .3s;
    background-size: 150%;
    border: 1px solid grey;
    height: 30px;
}

.box button:hover{
    background-color: #7f6ac7;
    /* color: #ffffff; */
}

.importArchive {
    color: black;
  }
  .importArchive::-webkit-file-upload-button {
    display: inline-block;
    background-color: #7159c1;
    color: #ffffff;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;

    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;

  }
  .importArchive:hover::before {
    border-color: black;
  }
  .importArchive:active {
    outline: 0;
  }
  .importArchive:active::before {
    background-color:  black; 
  }
  
  
