.acao{
    display: inline-table !important;
    margin-top: 20px;
}
.btn.btn-primary{
    background-color: #81007f;
    border-color: #81007f;
}
.btn.btn-primary:hover{
    background-color: #c700c4 !important;
    border-color: #81007f;
    transition: 0.3s;
}