@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css");

*{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.box{
    width: 400px;
    background: #ffffff;
    margin-top:300px;
    height: 550px;
    padding: 60px 20px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 10%;    
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 4px #888888;
}

.box .content{
    text-align: center;

}
span{
    font-size: 14px;
}
input #inputTitulo{
    margin-bottom: 10px;
}
.box button{
    border-radius: 3px;
    color: #ffffff;
    background-color: #7159c1;
    cursor: pointer;
    transition: .3s;
    background-size: 150%;
    border: 1px solid grey;
    height: 30px;

}

.box button:hover{
    background-color: #7f6ac7;
    /* color: #ffffff; */
}

.importArchive {
    color: black;
  }
.importArchive::-webkit-file-upload-button {
    background-color: #7159c1;
    color: #ffffff;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;

}
table{
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: bold;
}

td {
    border: 1px solid rgba(113, 89, 192, 0.5);
    padding: 10px;
    text-align: center;
    vertical-align: top;
    vertical-align: top;
    text-align: center;
}
th{
    border: 1px solid rgba(113, 89, 192, 0.5);
    border-spacing: 0px;
    padding: 10px;
    color: #7159c1;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}
tr{
    border: 1px solid rgba(113, 89, 192, 0.5);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
p{
    text-align: center;
    margin-bottom: auto;
    color: black;
}
.amostragem{
    margin:20px;
    margin: auto;
}
.bms{
    margin-top: 2px;
    margin-bottom: 10px;
    margin: auto;
    display: inline-block;
    text-align: center;
}

#calculaDesc{
    text-align: center;
    margin-top: 20px;
}
#barraMedidas{
    margin-top: 20px;
    width: 300px;
    background-color: blueviolet;
}
.amostragem{
    margin: 15px;
}
select{
    margin-bottom: 20px;
}
#inputValores{
    margin-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

.grid-item {
    padding: 2px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
