@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css");


.box{
    width: 400px;
    background: #ffffff;
    margin-top:300px;
    height: 550px;
    padding: 60px 20px;
    border-radius: 10px;
    position: relative;
    left: 50%;
    top: 10%;    
    transform: translate(-50%,-50%);
    box-shadow: 0 1px 4px #888888;
}

.box .content{
    text-align: center;

}
span{
    font-size: 14px;
}
input #inputTitulo{
    margin-bottom: 10px;
}
.box button{
    border-radius: 3px;
    color: #ffffff;
    background-color: #7159c1;
    cursor: pointer;
    transition: .3s;
    background-size: 150%;
    border: 1px solid grey;
    height: 30px;

}

.box button:hover{
    background-color: #7f6ac7;
    /* color: #ffffff; */
}

.importArchive {
    color: black;
  }

.importArchive::-webkit-file-upload-button {
    background-color: #81007f;
    color: #ffffff;
    border: 1px solid #81007f;
    border-radius: 4px;
    padding: 5px 8px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;
}

.importArchive::-webkit-file-upload-button:hover{
    background-color: #c700c4 !important;
    border-color: #81007f;
    transition: 0.3s;
}

.button{
    width: 100px;
    height: 30px;
    border: 1px solid #81007f;
    border-radius: 4px;
    background-color: #81007f;
    border-color: #81007f;
    color: white;
}

.button:hover{
    background-color: #c700c4 !important;
    border-color: #81007f;
    transition: 0.3s;
}

table{
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}


td {
    border: 1px solid rgba(113, 89, 192, 0.3) !important;
    border-left: hidden !important;
    border-right: hidden !important;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    vertical-align: top;
    text-align: center;
}
th{
    border: 1px solid #81007f !important;
    border-spacing: 0px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    background-color:#81007f !important ;
}
tr{
    border: 1px solid rgba(113, 89, 192, 0.8) !important;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
p{
    text-align: center;
    margin-bottom: auto;
    color: black;
}
.amostragem{
    margin:20px;
    margin: auto;
}
.bms{
    margin-top: 2px;
    margin-bottom: 10px;
    margin: auto;
    display: inline-block;
    text-align: center;
}
#calculaDesc{
    background-color: #81007f;
    border-color: #81007f;
    text-align: center;
    margin-top: 20px;
}

#calculaDesc:hover{
    background-color: #c700c4 !important;
    border-color: #81007f;
    transition: 0.3s;
}
#barraMedidas{
    margin-top: 20px;
    width: 300px;
    color: blueviolet !important;
}
.amostragem{
    margin: 15px;
}
select{
    margin-bottom: 20px;
}
#inputValores{
    margin-bottom: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }

.grid-item {
    padding: 2px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.nav-link{
    color: #7159c1 !important;
}
.nav-link.active{
    color: #000 !important;
}
